COMPOSE_PROJECT_NAME=licita-es
LICITA_IMAGE_TAG=staging
BOLSA_ADMIN_API_TOKEN=gere-um-token-longo-e-aleatorio
BOLSA_HTTP_TIMEOUT=30
BOLSA_HTTP_RETRIES=3
BOLSA_HTTP_USER_AGENT=BolsaDeLicitacoes/0.1 (+contato@seudominio.com.br)
BOLSA_SCHEDULER_RUN_ON_START=true
BOLSA_PNCP_MODALITIES=6
BOLSA_COMPRAS_MODALITIES=5
BOLSA_MAX_PAGES_PER_RUN=1
BOLSA_PAGE_SIZE=10
BOLSA_ENRICH_LIMIT=1
BOLSA_DOWNLOAD_DOCUMENTS=false
BOLSA_PNCP_INTERVAL_SECONDS=900
BOLSA_COMPRAS_INTERVAL_SECONDS=3600
BOLSA_CONTRACTS_INTERVAL_SECONDS=86400
TZ=America/Sao_Paulo
